<head>
  <link href="transition.css" rel="stylesheet"/>
</head>

<!-- TRANSITION -->
<div class="transition trans-green">
  <div class="transition__border">
    <p class="transition__text">OUR MISSION:</p>
    </div>
</div>


<div class="transition trans-lilac">
  <div class="transition__border">
    <p class="transition__text">FIGHT FOR FREEDOM:</p>
    </div>
</div>

<div class="transition trans-blue-dark">
  <div class="transition__border">
    <p class="transition__text">SUPPORT THE CAUSE:</p>
    </div>
</div>

<div class="transition trans-lilac-light">
  <div class="transition__border">
    <p class="transition__text">LINKS:</p>
    </div>
</div>
